<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="samba-iris-adapter.ZPM">
    <Module>
      <Name>samba-iris-adapter</Name>
      <Description>Samba protocol (smb v2) support for InterSystems IRIS</Description>
      <Version>1.0.10</Version>
      <Packaging>module</Packaging>
      <Dependencies>
        <ModuleReference>
          <Name>sslclient</Name>
          <Version>1.0.1</Version>
        </ModuleReference>
      </Dependencies>
      <CSPApplication 
        Url="/csp/samba"
        DispatchClass="dc.samba.SambaAPI"
        MatchRoles=":{$dbrole}"
        PasswordAuthEnabled="1"
        UnauthenticatedEnabled="1"
        Recurse="1"
        UseCookies="2"
        CookiePath="/csp/samba"
      />
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.samba.PKG"/>
      <SystemRequirements Version=">=2020.1" Interoperability="enabled" />
    </Module>
  </Document>
</Export>
